#contact(style="background-image: url('assets/images/backgrounds/underwater-opt.png')")
  .title
    h3 Get in Touch

  .social
    .gmail
      img(src="assets/images/social/gmail.svg")
      span mark.swedberg@gmail.com
    .upwork
      a(href="https://www.upwork.com/fl/markswedberg" target="_blank")
      img(src="assets/images/social/upwork.svg")
    .linkedin
      a(href="https://www.linkedin.com/in/markswedberg" target="_blank")
      img(src="assets/images/social/linkedin.svg")
    .github
      a(href="https://github.com/swedy13" target="_blank")
      img(src="assets/images/social/github.svg")
    .quora
      a(href="https://www.quora.com/profile/Mark-Swedberg" target="_blank")
      img(src="assets/images/social/quora.svg")