#connect
  //- .copyright © 2016

  .social
    //- i(class='linkedin fa fa-fw fa-linkedin-square')
    //- i(class='behance fa fa-fw fa-behance-square')
    //- i(class='github fa fa-fw fa-github')
    //- i(class='skype fa fa-fw fa-skype')
    span.gmail
      i(class='fa fa-fw fa-envelope')
      p mark.swedberg@gmail.com
