.contact-placeholder
  #contact
    .title
      h3 Discuss a Project
    form(method="GET" action="mailto:swedy13@gmail.com" enctype="text/plain")
      input(name="name" type="name" placeholder="Your Name")
      input(name="email" type="email" placeholder="Email Address")
      textarea(rows="5" placeholder="Share your idea . . .")
      div.contact.buttons
        button.exit Exit
        input(name="submit" type="submit" value="Let's Talk")