#contact(style="background-image: url('assets/images/mountain.jpg')")
  .close X
  form(method="GET" action="mailto:swedy13@gmail.com" enctype="text/plain")
    h3 Let's Get in Touch
    input(name="name" type="name" placeholder="Your Name")
    input(name="email" type="email" placeholder="Email Address")
    textarea(rows="3" placeholder="What would you like to discuss?")
    div
      button.contact-buttons Exit
      input(class="contact-buttons" name="submit" type="submit" value="Say Hi!")