footer
  .social-row
    a(href="http://www.upwork.com/fl/markswedberg" target="_blank")
      span(class='link upwork')
        img(src="/assets/img/contact/upwork.png")
        .contact-caption Upwork
    a(href="https://www.github.com/swedy13/" target="_blank")
      span(class='link github')
        img(src="/assets/img/contact/github.png")
        .contact-caption GitHub
    span(class='link skype')
        img(src="/assets/img/contact/skype.png")
        .contact-caption Skype
    a(href="mailto:contact@markswedberg.com" target="_blank")
      span(class='link email')
        img(src="/assets/img/contact/email.png")
        .contact-caption Email
