footer
  .links ©2016 Mark Swedberg
  .social
    a(href="https://www.quora.com/profile/Mark-Swedberg" target="_blank")
      span(class='link quora')
        img(src="/assets/images/social/quora-icon.png")

    a(href="https://www.linkedin.com/in/markswedberg" target="_blank")
      span(class='link linkedin')
        img(src="/assets/images/social/linkedin-icon.png")

    a(href="https://www.github.com/swedy13/" target="_blank")
      span(class='link github')
        img(src="/assets/images/social/github-icon.png")

    a(href="http://www.upwork.com/fl/markswedberg" target="_blank")
      span(class='link upwork')
        img(src="/assets/images/social/upwork-icon.png")

    //- a(href="mailto:contact@markswedberg.com" target="_blank")
    //-   span(class='link gmail')
    //-     img(src="/assets/images/social/gmail-icon.png")


  //- form.contact-form
  //-   .title I'm interested in...

  //-   .options
  //-     span.option
  //-       input(type="checkbox" name="service" value="strategy")
  //-       p Business
  //-     span.option
  //-       input(type="checkbox" name="service" value="ux")
  //-       p UX
  //-     span.option
  //-       input(type="checkbox" name="service" value="copywriting")
  //-       p Copywriting
  //-     span.option
  //-       input(type="checkbox" name="service" value="prototyping")
  //-       p Prototyping
  //-     span.option
  //-       input(type="checkbox" name="service" value="mvp")
  //-       p MVP
  //-     span.option
  //-       input(type="checkbox" name="service" value="mobile")
  //-       p Mobile
  //-     span.option
  //-       input(type="checkbox" name="service" value="apps")
  //-       p Apps
  //-     span.option
  //-       input(type="checkbox" name="service" value="marketing")
  //-       p Marketing

  //-   input(type="text" name="name" placeholder="Your Name")
  //-   input(type="email" name="email" placeholder="Email Address")
  //-   textarea(rows="4" placeholder="Message")
  //-   input(type="submit" value="Get in Touch!")
  //-   .close