#hero
  #hero-container.fluid.center.video
    .filter

  .wrap.content.pin.center
    .white.shadow.logo Mark Swedberg
    .white.shadow.subtitle a silicon valley designer

  .pin.right.center
    .vertical.light.bullet.menu.drawer-controller