#hero
  .parallax.background(style="background-image: url(assets/images/backgrounds/sf-opt.png)")
  .slow.title
    h1 Mark Swedberg
    h3 a silicon valley designer
  i(class="fa fa-arrow-down scroll-down" aria-hidden="true")