#hero.full.container.row
  #hero-container.whole.col.middle.center.children.parallax
    .wrap.pin.center.midground.fadeout.whole.col
      .white.shadow.logo Mark Swedberg
      .white.shadow.subtitle a silicon valley designer

  .fix.top.right
    label(for="drawer-controller" class="large clickable light font") Menu &#9776;