section#hero.hero
  .content
    .center
      img(class="name" src="assets/images/mark-swedberg.svg" onerror="this.src='assets/images/mark-swedberg.png'")
      h3 a silicon valley web designer
      img(class='more' src="assets/images/arrow.svg" onerrors="this.src='assets/images/arrow.png'")
    .preloader
      .circle
        .wave(style="background-image: url('assets/images/wave.png')")
        .wave-background
      .title
        h3 l
        h3 o
        h3 a
        h3 d
        h3 i
        h3 n
        h3 g
        h3 .
        h3 .
        h3 .
      a(class="credits" href="https://codepen.io/bbosiljcic/" target="_blank") Animation inspired by @bbosiljcic
  .video
    .filter
    video(class="fillWidth" loop)
      source(src="" type="video/mp4")
      source(src="" type="video/ogg")
      source(src="" type="video/webm")
      img(src="" alt="")


