section#hero.hero
  .content
    .center
      h1 Mark Swedberg
      h3 a silicon valley web designer
      img(class='more' src="assets/images/arrow.png")

  .video
    .filter
    video(class="fillWidth" autoplay loop)
      source(src="" type="video/mp4")
      source(src="" type="video/ogg")
      source(src="" type="video/webm")
      img(src="" alt="")
