nav(id="drawer")
  .top
    .logo ~ MS ~
    .divider
    .menu
      .item services
      .item portfolio
      .item#contact-trigger contact

  .bottom
    .item.linkedin
      a(href="https://www.linkedin.com/in/markswedberg" target="_blank")
        img(class="darken hover" src="assets/images/social/linkedin.png")
    .item.upwork
      a(href="https://www.upwork.com/fl/markswedberg" target="_blank")
        img(class="darken hover" src="assets/images/social/upwork.png")
    .item.github
      a(href="https://github.com/swedy13" target="_blank")
        img(class="darken hover" src="assets/images/social/github.png")
    .item.quora
      a(href="https://www.quora.com/profile/Mark-Swedberg" target="_blank")
        img(class="darken hover" src="assets/images/social/quora.png")
