k#nav.medium.right.drawer-container
  .light.three.drawer
    .top.shelf
      .ghost.banner
        .mini.light.logo ~ MS ~
    .shelf
      .fluid.comfortable.center.vertical.menu
        .large.thick.gray.caps.item.expand.darklight about
        .large.thick.gray.caps.item.expand.darklight services
        .large.thick.gray.caps.item.expand.darklight portfolio
        .large.thick.gray.caps.item.expand.darklight contact
    .bottom.shelf
      .fluid.center.vertical.menu
        .border.dashed.ghost.banner.quora.shadow
          a(href="https://www.quora.com/profile/Mark-Swedberg" target="_blank")
            img(class="darken hover" src="assets/images/social/quora.png")
        .border.dashed.ghost.banner.github.shadow
          a(href="https://github.com/swedy13" target="_blank")
            img(class="darken hover" src="assets/images/social/github.png")
        .border.dashed.ghost.banner.linkedin.shadow
          a(href="https://www.linkedin.com/in/markswedberg" target="_blank")
            img(class="darken hover" src="assets/images/social/linkedin.png")
        .border.dashed.ghost.banner.upwork.shadow
          a(href="https://www.upwork.com/fl/markswedberg" target="_blank")
            img(class="darken hover" src="assets/images/social/upwork.png")