.nav-trigger
  .text menu
  i(class="icon fa fa-fw fa-bars" aria-hidden="true")

.nav-dimmer

.nav
  .controller
    .open
      .text close
      i(class="icon fa fa-fw fa-times" aria-hidden="true")
  .menu
    .item
      .text about
      i(class="icon fa fa-fw fa-user" aria-hidden="true")
    .item
      .text portfolio
      i(class="icon fa fa-fw fa-picture-o" aria-hidden="true")
    .item
      .text connect
      i(class="icon fa fa-fw fa-comment" aria-hidden="true")