#nav.medium.right.drawer-container
  .light.three.drawer
    .top.shelf
      p logo
    .shelf
      .fluid.center.vertical.menu
        p.item about
        p.item services
        p.item portfolio
        p.item contact
    .bottom.shelf
      .fluid.center.vertical.menu
        p.icon quora
        p.icon github
        p.icon linkedin
        p.icon upwork
        p.text Mark Swedberg ©2016