#nav.medium.right.drawer-container
  .light.three.drawer
    .top.shelf
      img(class="fluid logo icon" src="assets/images/ms-icon")
    .shelf
      .fluid.center.vertical.menu
        p.item about
        p.item services
        p.item portfolio
        p.item contact
    .bottom.shelf
      .fluid.center.vertical.menu
        .stacked.dashed.ghost.banner.quora
          img(class="darken" src="assets/images/social/quora.png")
        .stacked.dashed.ghost.banner.github
          img(class="darken" src="assets/images/social/github.png")
        .stacked.dashed.ghost.banner.linkedin
          img(class="darken" src="assets/images/social/linkedin.png")
        .stacked.dashed.ghost.banner.upwork
          img(class="darken" src="assets/images/social/upwork.png")