section#portfolio.portfolio
  |{% for post in site.categories.company %}
  div(class="active company {{post.categories[0]}} {{post.categories[1]}} {{post.categories[2]}} {{post.categories[3]}} {{post.categories[4]}} {{post.categories[5]}}" style="background-image: url('assets/images/posts/thumbnails/{{post.thumbnail}}')")
    .mask
    .hover
    .content
      .header
        img(class="logo" src='assets/images/posts/thumbnails/{{post.logo}}')
        h3.title {{post.title}}
      .description {{post.content}}
  |{% endfor %}