section#portfolio.portfolio
  |{% for post in site.categories.company %}
  div(class="company {{post.categories[0]}}" style="background-image: url('assets/images/posts/thumbnails/{{post.thumbnail}}')")
    .mask
    .hover
    .content
      .header
        img(class="logo" src='assets/images/posts/thumbnails/{{post.logo}}')
        h3.title {{post.title}}
      .description {{post.content}}
  |{% endfor %}