#preloader
  h1 Choose a Theme
  h4 (Click to Enter)
  .gallery
    .image.item(style="background-image: url(assets/video/Up/TinyUp.jpg)" data-attribute="Up")
    .image.item(style="background-image: url(assets/video/One-Swan/TinySwan.jpg)" data-attribute="One-Swan")
    .image.item(style="background-image: url(assets/video/Hello-World/TinyWorld.jpg)" data-attribute="Hello-World")
    .image.item(style="background-image: url(assets/video/birdcatcher/TinyBird.jpg)" data-attribute="birdcatcher")

  .fishbowl
    .wave(style="background-image: url('assets/images/wave.png')")
    .background
    .play

  .text-wave
    .letter l
    .letter o
    .letter a
    .letter d
    .letter i
    .letter n
    .letter g
    .letter .
    .letter .
    .letter .
    .enter Tap to Enter
