#preloader
  .spinner
    .circle.circle1
    .circle.circle2
    .circle.circle3
    .circle.circle4
    .circle.circle5
    .circle.circle6
    .circle.circle7
    .circle.circle8
    .circle.circle9
    .circle.circle10
    .circle.circle11
    .circle.circle12