section#profiles.profiles
  .card.quora
    .card-flipper
      .card-front
        .logo
          img(src="assets/images/Quora.png")
        .content
          .slug /mark-swedberg
      .card-back(style="background-image: url('assets/images/QuoraBG.png')")
        .content
          .avatar(style="background-image: url('assets/images/quora-avatar.jpg')")
          p.subtitle UX & Web Design since 2009
        button Get Answers

  .card.linkedin
    .card-flipper
      .card-front
        .logo
          img(src="assets/images/LinkedIn.png")
        .content
          .slug /markswedberg
      .card-back(style="background-image: url('assets/images/LinkedInBG.png')")
        .content
          .avatar(style="background-image: url('assets/images/linkedin-avatar.jpg')")
          p.subtitle Freelance Web Designer
        button View Profile

  .card.github
    .card-flipper
      .card-front
        .logo
          img(src="assets/images/GitHub.png")
        .content
          .slug /swedy13
      .card-back(style="background-image: url('assets/images/GitHubBG.png')")
        .content
          .avatar(style="background-image: url('assets/images/github-avatar.jpg')")
          p.subtitle Freelance Web Designer
        button Browse Code

  .card.upwork
    .card-flipper
      .card-front
        .logo
          img(src="assets/images/Upwork.png")
        .content
          .slug /markswedberg
      .card-back(style="background-image: url('assets/images/UpworkBG.png')")
        .content
          .avatar(style="background-image: url('assets/images/upwork-avatar.jpg')")
          p.subtitle Freelance Web Designer
        button Read Reviews