#services
  .text
    h1 Full-Spectrum Design
    p I've been working in the design space since 2009, tackline exciting projects with organizations like Olympus and the US Department of Veteran Affairs. I've also spent several years at a startup incubator, advising founders on marketing, design, and development.
    p My services range from wireframing and user flow design to high-fidelity mockups and interactive prototypes. I have extensive experience performaing and understanding how data analysis, user research, and development techniques impact design.

  .group
    .item
      img(src="assets/images/services/ux.png")
      h3 User Experience
      p Understand Your Customer's Behavior
    .item
      img(src="assets/images/services/copywriting.png")
      h3 Visual Design
      p Create a Compelling Brand Identity
    .item
      img(src="assets/images/services/prototyping.png")
      h3 Prototyping
      p Explore the Future of Your Product