#services.row
  .row.center.children
    .three.fourth.col
      h1 Full-Spectrum Design
      p.large I've been working in the design space since 2009, tackline exciting projects with organizations like Olympus and the US Department of Veteran Affairs. I've also spent several years at a startup incubator, advising founders on marketing, design, and development.
      p.large My services range from wireframing and user flow design to high-fidelity mockups and interactive prototypes. I have extensive experience performaing and understanding how data analysis, user research, and development techniques impact design.

  .row.center.children
    .ten.twelfth.col.comfortable
      //- .strategy.one.fourth.col
      //-   img(class="icon" src="assets/images/services/strategy.png")
      //-    Business Strategy
      //-    Transform your idea into an actionable plan
      .ux.one.third.col
        .ghost.button.fadein.disable
          img(class="large comfortable icon" src="assets/images/services/ux.png")
          h3 User Experience
          p.large Understand your customer's behavior
      .design.one.third.col
        .ghost.button.fadein.disable
          img(class="large comfortable icon" src="assets/images/services/copywriting.png")
          h3 Visual Design
          p.large Create a compelling brand identity
      .prototyping.one.third.col
        .ghost.button.fadein.disable
          img(class="large comfortable icon" src="assets/images/services/prototyping.png")
          h3 Prototyping
          p.large Explore the future of your product
      //- .mvp.one.fourth.col
      //-   img(class="icon" src="assets/images/services/mvp.png")
      //-    Minimum Viable Product
      //-    Test and adapt your ideas in real-time
      //- .mobile.one.fourth.col
      //-   img(class="icon" src="assets/images/services/mobile.png")
      //-    Mobile Apps
      //-    Publish your idea in the Andriod or Apple app store
      //- .app.one.fourth.col
      //-   img(class="icon" src="assets/images/services/app.png")
      //-    Multi-Platform Apps
      //-    Build a full-featured application across web and mobile
      //- .marketing.one.fourth.col
      //-   img(class="icon" src="assets/images/services/marketing.png")
      //-    Marketing Strategy
      //-    Grow your userbase and gain traction