section#services.services
  .intro
    h2.title Data Driven Design
    p.description I've been doing UX and UI design since 2009, working with companies like YDI and the US Department of Veteran Affairs. I'm familiar with the latest design trends, such as mobile first and responsive. Having worked several years with an incubator, I have a special place in my heart for early stage startups, but I'm open to all kinds of companies and projects.

  .service-section
    .service.strategy
      img(class="icon" src="assets/images/services/strategy.png")
      h3.title Business Strategy
      p.description Transform your idea into an actionable plan

    .service.ux
      img(class="icon" src="assets/images/services/ux.png")
      h3.title User Experience Design
      p.description Gain insight into your customer's behaviors

    .service.copywriting
      img(class="icon" src="assets/images/services/copywriting.png")
      h3.title Copywriting
      p.description Create compelling sales messages

    .service.prototyping
      img(class="icon" src="assets/images/services/prototyping.png")
      h3.title Prototyping
      p.description Explore the future of your product

    .service.mvp
      img(class="icon" src="assets/images/services/mvp.png")
      h3.title Minimum Viable Product
      p.description Test and adapt your ideas in real-time

    .service.mobile
      img(class="icon" src="assets/images/services/mobile.png")
      h3.title Mobile Apps
      p.description Publish your idea in the Andriod or Apple app store

    .service.app
      img(class="icon" src="assets/images/services/app.png")
      h3.title Multi-Platform Apps
      p.description Build a full-featured application across web and mobile

    .service.marketing
      img(class="icon" src="assets/images/services/marketing.png")
      h3.title Marketing Strategy
      p.description Grow your userbase and gain traction
