---
layout: default
---

{% include nav.html %}

<main id="main">
				{% include hero.html %}
    {% include about.html %}
    {% include portfolio.html %}
    {% include connect.html %}
</main>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="{{'assets/js/mobile/hammer.min.js' | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{'assets/js/mobile/hammertime.min.js' | prepend: site.baseurl}}"></script>
<script type="text/javascript" src="{{'assets/js/mobile/jquery.hammer.js' | prepend: site.baseurl}}"></script>
<script src="https://use.fontawesome.com/dc95760029.js"></script>
<script type="text/javascript" src="{{'assets/js/main.js' | prepend: site.baseurl}}"></script>

