.contact
  .social-row
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 50vh
    min-height 30em
    width 100%
    background-color cadetblue

    .link
      display flex
      align-items center
      justify-content center
      position relative
      height 5em
      width 250px

      .contact-caption
        display block
        margin-left 3em
        font-size 2em
        font-weight 300
        color darkcyan
        text-shadow 0 1px 1px #555
        text-align left

      &:hover
        .contact-caption
          font-weight 400
          color white
          transition .3s

      img
        position absolute
        top 10%
        left 15px
        height 2.5em
        width 2.5em
        padding .5em
        border 3px solid darkcyan
        border-radius 100%
        filter drop-shadow(0 1px 1px #555)

      &:hover
        img
          border-color white
          background-color rgba(55, 55, 55, .10)
          filter hue-rotate(90)
          transition .5s

      // &:hover
      //   border-color transparent
      //   box-shadow 1px 1px 1px #aaa

      //   .contact-caption
      //     display block

      //   img
      //     filter brightness(1) drop-shadow(-1px -1px 0 #777)

      //   &.upwork
      //     background-color #6fda44

      //   &.linkedin
      //     background-color #0274b3

      //   &.github
      //     background-color #333

      //   &.skype
      //     background-color #00adef

      //   &.email
      //     background-color #d74a38


// @media screen and (max-width: 414px)
//   .contact
//     // height 15vw

//     .contact-title
//       display none

//     .social-row
//       .link
//         margin 0 4vw

//         img
//           height 12vw
//           width 12vw

//         &.upwork
//           img
//             margin-top 1.5vw

//         &.linkedin
//           img
//             height 10vw
//             width 10vw

//         &.skype
//           img
//             height 10vw
//             width 10vw


// @media screen and (min-width: 415px) and (max-width: 1023px)
//   .contact
//     // height 3em

//     .contact-title
//       display none

//     .social-row
//       .link
//         margin 0 1.5em

//         img
//           height 2.25em
//           width 2.25em

//         &.upwork
//           img
//             margin-top .5em

//         &.linkedin
//           img
//             height 2em
//             width 2em

//         &.skype
//           img
//             height 2em
//             width 2em


// @media screen and (min-width: 1024px)
//   .contact
//     // height 80px

//     .contact-title
//       display block
//       margin-right 30px
//       font-size 1.75em

//     .social-row
//       .link
//         height 60px
//         width 60px
//         margin 0 25px

//         // .contact-caption
//         //   margin-top 5px
//         //   margin-left 15px
//         //   padding 2px 6px

//         &.upwork
//           img
//             margin-top 10px

//         &.linkedin
//           img
//             height 60%
//             width 60%

//         &.skype
//           img
//             height 60%
//             width 60%

//         img
//           height 45px
//           width 45px