section.contact#contact
  .social-row
    p.contact-title get in touch
    a(class="link upwork" href="http://www.upwork.com/fl/markswedberg" target="_blank")
      img(src="/assets/img/contact/upwork.png")
      .contact-caption Upwork
    a(class="link linkedin" href="https://www.linkedin.com/in/markswedberg" target="_blank")
      img(src="/assets/img/contact/linkedin.png")
      .contact-caption LinkedIn
    a(class="link github" href="https://www.github.com/swedy13/" target="_blank")
      img(src="/assets/img/contact/github.png")
      .contact-caption GitHub
    a(href="").link.skype
      img(src="/assets/img/contact/skype.png")
      .contact-caption Skype
    a(href="mailto:contact@markswedberg.com" target="_blank").link.email
      img(src="/assets/img/contact/email.png")
      .contact-caption Email
