// MOBILE NAV MENU
// @media screen and (max-width: 1024px)
header.site-header
  .logo
    z-index 5
    display block
    position fixed
    top 12px
    left 12px
    padding 8px
    border 2px solid skyblue

    p
      font-size 1.8em
      font-weight 300
      color skyblue

  .main-nav
    display none

  .mobile-nav
    z-index 5
    display block
    position fixed
    top 12px
    right 12px
    width 40px
    height 30px

    .menu-icon
      width 40px
      height 8px
      border-top 4px solid skyblue
      border-bottom 4px solid skyblue

      &:before
        content: ''
        position absolute
        width 40px
        margin-top 21px
        border-bottom 4px solid skyblue

  .nav-links
    z-index 5
    display none
    position fixed
    width 150px
    top 50px
    right 12px
    margin 0
    padding 0
    border-radius 2px
    background-color white
    box-shadow 0 3px 7px #777

    li
      position relative
      height 3em
      border-bottom 1px solid lightgray
      list-style none

      &:hover
        background-color #eee

      .nav-link
        display flex
        align-items center
        justify-content center
        height 100%
        width 100%