// HEADER STYLES
header.site-header
  z-index 1
  position fixed
  height 36px
  width 100vw
  background-color white

  .logo
    color #e1e1e1

  &.invisible
    background-color transparent
    box-shadow none
    transition-duration height .3s

    .logo
      background-color transparent
      box-shadow none

    .nav-link
      visibility hidden

    &:hover
      background-color #222
      box-shadow 2px 2px 5px #1c1c1c

      .logo
        background-color #c04443
        box-shadow 3px 3px 5px #333

      .nav-link
        visibility visible

.left
  left 0

.right
  right 0


// Logo
.logo
  position fixed
  padding 2px 5px
  font-size 2em
  font-weight 300
  color #e1e1e1




// FULL NAV MENU
@media screen and (min-width: 548px)
  .main-nav
    z-index 2
    display block
    position fixed

    ul.nav-links
      display flex
      margin 0px
      padding 0px
      list-style none

      li
        .nav-color
          height 7px
          margin-bottom 6px
          background-color #e1e1e1
          border-right 1px solid #bbb

        .nav-highlight
          background-color #c04443

        .current-nav
          background-color #c04443

        .nav-link
          padding 8px 12px 6px 12px
          padding-bottom 4px
          color #e5e5e5



// MOBILE NAV MENU
@media screen and (min-width: 548px)
  .mobile-nav
    display none

@media screen and (max-width: 548px)
  .main-nav
    display none

  .mobile-nav
    z-index 2
    display block
    position fixed
    height 50px
    width 50px
    background-color red

    ul.nav-links
      position fixed
      top 32px
      right 0

      li
        display none
        align-items center
        height 25px
        padding 2px 12px 2px 8px

        .nav-color
          display none

        &:hover
          background-color #c04443

          .nav-link
            color #e1e1e1

  .mobile-nav
    &:hover
      ul.nav-links
        background-color #e1e1e1

        li
          display flex