mixin nav-content()
  ul.nav-links
    li
      a( class="nav-link" href="#home-parallax") home
    li
      a(class="nav-link" href="#bio") bio
    li
      a(class="nav-link" href="#skills") services
    li
      a(class="nav-link" href="#slider") portfolio
    li
      a(class="nav-link" href="#contact") contact


header.site-header
  //- a(href="/").logo.left.full mark swedberg
  #logo.logo
    p ms

  .mobile-nav.right
    .menu-icon
  +nav-content()