article.skills#skills
  .skills-slider
    // Iterate through all skills posts
    |{% for post in site.categories.skills reversed %}
    .card-container
      .card
        .card-flipper
          .card-front
            a(class="card-link {{post.title}}" href="{{post.url}}.html")
              div(class="skills-icon" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
              h3.skills-title {{post.title}}
          a(class="card-back" href="{{post.url}}.html")
            .card-cap
              span
                div(class="skills-icon" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
                h3.card-head {{post.title}}
              hr.card-divider
              .card-description {{post.excerpt}}
              hr.card-divider
              button.card-button More
    |{% endfor %}