.drawer
  display none
  justify-content center
  flex-wrap wrap
  position fixed
  top 0
  bottom 0
  width 0px

  &.open
    display flex

// ---- Color Themes ---- //
.drawer
  &.dark
    border-left 1px solid #242424
    background-color #333
    box-shadow inset 2px 0 6px #111

// ---- Positioning ---- //
.drawer
  right 0

  &.right
    right 0



// ***************** //
// ---- CONTENT ---- //
// ***************** //

// ---- Alignment ---- //
.drawer
  > .section

    &.fluid
      width 100%


// ---- Positioning ---- //
.drawer
  &.spread
    align-content space-between



// ---- DRAWER CONTROLLER ---- //
.drawer-controller
  display flex
  justify-content center
  min-width 30px

  &.vertical
    position fixed
    top 0
    bottom 0
    height 100vh

    &.right
      right 25px

    &.left
      left 25px

    &.hidden
      display none

    &.open
      &.right
        right 155px

      &.left
        left 155px

    &.centered
      align-items center
