.hero
  position relative
  height 100vh


// ---- Content ---- //
.hero
  > .content
    display flex
    align-content center
    justify-content center
    text-align center
    flex-wrap wrap
    position absolute
    top 0
    bottom 0
    left 0
    right 0

    > .title
      &.image
        height 100px

    > .subtitle
      width 100%
      font-size 2em
      font-weight 300
      color white

    > .more
      height 50px


// ---- Special Navs ---- //
.hero
  > .right-nav
    display flex
    align-items center
    position absolute
    top 0
    bottom 0
    right 0
    padding-right 30px

    > ul
      > li
        border-bottom 1px solid transparent

        &:hover
          border-color #eee
          transition .15s ease-in-out

        > .bullet
          margin 5px
          margin-right 25px

    &:hover
      > ul
        > li
          > .bullet
            display none

          > p
            display block

    > .background
      z-index -1
      position absolute
      top 0
      bottom 0
      right 0
      width 0px
      background-color #333
      box-shadow inset 3px 0 5px #252525

    &:hover
      > .background
        width 150px
        transition .075s ease-in-out


// ---- Video ---- //
.hero
  > .video
    z-index -1
    display flex
    align-items center
    justify-content center
    position relative
    max-height 100%
    overflow hidden
    background-color #000

  > .no-video .video video,
  .touch .video video
    display none

  > .no-video .video .poster,
  .touch .video .poster
    display block !important