.menu
  list-style none
  overflow hidden



// ************************ //
// ---- VERTICAL MENUS ---- //
// ************************ //

// ---- Spacing ---- //
.menu
  li
    height 2em

// ---- Alignment ---- //
.menu
  li
    display flex
    align-items center

  &.centered
    li
      justify-content center



// ************************** //
// ---- HORIZONTAL MENUS ---- //
// ************************** //
.horizontal.menu
  display flex
  flex-wrap wrap

// ---- Alignment ---- //
.horizontal.menu
  &.centered
    justify-content center
    text-align center



// *********************** //
// ---- GLOBAL STYLES ---- //
// *********************** //

// ---- List Styles ---- //
.menu
  li
    .bullet
      height 10px
      width 10px
      border-radius 100%

  &.icon
    img
      height 25px
      width 25px
      margin 8px

      &.large
        height 50px
        width 50px

// ---- Color Themes ---- //
.menu.dark
  li
    .bullet
      background-color transparent
      border 2px solid white

      &.current
        background-color white
        border-color transparent

// ---- Hover ---- //
.underlined.menu
  li
    border-bottom 2px solid transparent

  &.dark
    li
      &:hover
        border-color white

.scaling.menu
  li
    &:hover
      transform scale(1.25)
      transition .1s