.pin
  position absolute

  &.top
    top 15px

  &.top2
    top 30px

  &.bottom
    bottom 15px

  &.bottom2
    bottom 30px

  &.left
    left 15px

  &.left2
    left 30px

  &.right
    right 15px

  &.right2
    right 30px

  &.vcenter
    margin auto 0