// BASE
@import 'base/animate';
@import 'base/fonts';
@import 'base/foundation';


// GLOBAL
@import 'global/header';
@import 'global/contact';
@import 'global/cards';


// HOME
@import 'home/home-articles';
@import 'home/home-bio';
@import 'home/home-companies';
@import 'home/home-parallax';
@import 'home/home-slider';


// BLOG
@import 'articles/articles';
@import 'articles/articleFeed';
@import 'articles/articlePage';


// COMPANIES
@import 'companies/case-studies';
@import 'companies/companyFeed';
// @import 'companies/companyPage';


// PORTFOLIO
@import 'portfolio/portfolioFeed';


// SKILLS
@import 'skills/skillsFeed';