section.portfolio#home-portfolio
  //- .portfolio-title portfolio
  .portfolio-slider
    // Iterate through portfolio posts to display up to 7 cards
    |{% for post in site.categories.portfolio reversed limit: 7 %}
    .card-container
      .card
        .card-flipper
          .card-front
            a(class="card-link" href="{{post.url}}.html" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
          a(class="card-back" href="{{post.url}}.html")
             .card-cap
               h3.card-head {{post.title}}
               hr.card-divider
               .card-description {{post.excerpt}}
               hr.card-divider
               button.card-button More
    |{% endfor %}

    // The last card will always show a link to the blog
    .card-container
      a(class="card-link portfolio-more" href="/portfolio.html") see more