.home-parallax
  .home-parallax-container
    height 100vh
    background-image url(../img/home/mountain.jpg)
    background-repeat no-repeat
    background-size cover
    background-position top center
    background-attachment fixed
    transform scale(1)
      
    .home-parallax-color-overlay
      height 100%
      width 100%
      background-color midnightblue
      opacity 0