.bio
  display flex
  justify-content center
  width 100%
  padding 25px 0

  .bio-container
    height 100%
    width 700px

    .bio-picture
      display inline
      float left
      height 165px
      width 165px
      margin 0 15px 5px 0
      padding 5px
      border 2px solid lightgray
      border-radius 5px
      background-image url(/assets/img/posts/thumbnails/prototyping.jpg)
      background-size cover
      background-repeat no-repeat
      background-position bottom center

    .bio-content
      display inline
      color #444

      p
        margin-bottom 25px
        line-height 1.75

        &.bio-title
          margin-bottom 0
          font-size 2em
          font-weight 300
          text-align center

        &.note
          display flex
          padding 7px
          background-color palegoldenrod
          border 1px solid burlywood
          line-height 1.5
          color #555