#slider
  display flex
  align-items center
  position relative

  .iterator
    position absolute
    bottom 40%
    opacity .9
    color white
    text-shadow 0 0 1px #111, 0 0 4px #aaa
    cursor pointer

    &.backward
      left 15px

    &.forward
      right 15px

  .slide
    display none
    align-items center
    justify-content center
    width 100%

    &.visible
      display flex

    .hero
      display block
      min-width 100%
      animation-duration .75s


// Mobile
@media screen and (max-width: 567px)
  #slider
    .iterator
      font-size 2.5em


// Tablet in portrait and small display
@media screen and (min-width: 568px) and (max-width: 1000px) and (orientation: portrait)
  #slider
    .iterator
      font-size 4em


// Tablet in landscape and laptop/desktop
@media screen and (min-width: 568px) and (orientation: landscape)
  #slider
    .iterator
      font-size 4em