section.home-articles#home-articles
  .home-articles-container
    .home-articles-title articles
    ul
      |{% for post in site.categories.articles reversed limit: 3 offset: 2 %}
      li.home-article
        a(class="home-article-image" href="{{post.url}}.html" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
        .home-article-content
          a(class="home-article-title" href="{{post.url}}.html") {{post.title}}
          .home-article-snippet {{post.excerpt}}
      li.home-article-divider
        hr
      |{% endfor %}
    .home-articles-more
      a(href="/articles.html")
        p read more