// Default Styles
.home-companies
  background-color #e1e1e1
  overflow hidden

  .home-companies-row
     display flex
     align-items center
     justify-content center

    // .home-companies-title
    //   margin-right 30px
    //   font-size 1.75em
    //   font-weight 300
    //   color gray

    .home-companies-logo-thumb
      visibility hidden
      animation-duration 1.3s

      .home-companies-centered
        .home-companies-logo
          height 60px
          width 60px
          background-size cover
          filter grayscale(100%)
          opacity .5
          transition .3s

          &.DataQlick
            opacity .7

     .home-companies-caption
       display none
       // z-index 1
       // margin-top 5px
       // padding 2px 6px
       // background-color palegoldenrod
       // border 1px solid burlywood


@media screen and (max-width: 567px)
  .home-companies
    height 15vw

    .home-companies-row
      height 15vw

      .home-companies-logo-thumb
        margin 0 4vw

        .home-companies-centered
          .home-companies-logo
            height 12vw
            width 12vw

@media screen and (min-width: 568px) and (max-width: 667px)
  .home-companies
    height 4em

    .home-companies-row
      height 4em

      .home-companies-logo-thumb
        margin 0 1.5em

        .home-companies-centered
          .home-companies-logo
            height 3.25em
            width 3.25em

@media screen and (min-width: 668px)
  .home-companies
    height 80px
    overflow hidden

    .home-companies-row
      height 80px

      .home-companies-logo-thumb
        height 60px
        width 60px
        margin 0px 30px

        .home-companies-centered
          .home-companies-logo
            &:hover
              height 70px
              width 70px
              margin-top -5px
              margin-left -5px
              filter grayscale(0%)
              opacity 1

              &.Pairable
                background-image: url(/assets/img/posts/thumbnails/pairable-hover.png) !important

              &.GuruFace
                background-image: url(/assets/img/posts/thumbnails/guruface-hover.png) !important