.companies-page
  display flex
  flex-direction column
  justify-content center
  min-height calc(100vh - 80px)
  background-color #534e78

  .companies-title
    display none
    align-self center
    margin 50px 0 15px
    font-size 2em
    font-weight 300
    color #e3e3e3

  .companies-slider
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
    margin-bottom 25px

    .companies-container
      visibility hidden
      display flex
      flex-direction column
      position static

      &:hover
        z-index 1

      .companies-card
        position static
        height 350px
        min-height 350px
        width 250px
        min-width 250px
        margin 15px 8px
        border-radius 3px
        box-shadow 1px 1px 4px #555, -1px 0px 4px #666, 0px -1px 2px #666

        &:hover
          transform scale(1.15)
          box-shadow 0 27px 24px 0 rgba(0, 0, 0, 0.3), 0 40px 77px 0 rgba(0, 0, 0, 0.34)
          transition .4s

          .companies-picture
            filter grayscale(0)
            transition .25s

            &.Pairable
              background-image: url(/assets/img/posts/thumbnails/pairable-hover.png) !important

            &.GuruFace
              background-image: url(/assets/img/posts/thumbnails/guruface-hover.png) !important

          .companies-content
            .companies-link
              background-color #8984AE
              color white
              transition .2s

        .companies-picture
          display block
          text-align center
          height 115px
          width 100%
          background-repeat no-repeat
          background-position center
          background-size 100px
          background-color white
          border-bottom 1px solid lightgray
          filter grayscale(1)

        .companies-content
          position relative
          height calc(100% - 116px)
          padding 8px
          background-color #e3e3e3

          .companies-name
            margin-bottom 10px
            text-align center
            font-size 1.3em
            font-weight 300
            font-color #444

          .companies-description
            p
              padding 0 5px
              font-size .9em
              color #444
              line-height 1.5
              text-align justify

          .companies-link
            position absolute
            bottom 7px
            right 5px
            padding 7px 10px
            margin 2px
            background-color transparent
            border 1px solid #aaa
            border-radius 3px
            font-size 0.9em
            font-weight 500
            color #534e78
            float right