body {
  margin: 0px;
<<<<<<< HEAD
  font-family: roboto, sans-serif;
=======
  font-family: Roboto;
>>>>>>> 070d386dbac8b85a7f32b73317714c49ca55b0ad
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
p,
h1,
h2,
h3 {
  cursor: default;
}
button {
  cursor: pointer;
}
@media screen and (orientation: portrait) and (min-width: 768px) {
  a,
  p {
    font-size: 1.2em;
  }
}
@media screen and (orientation: landscape) and (min-width: 1025px) {
  a,
  p {
    font-size: 1.2em;
  }
}
.hero {
  position: relative;
  height: 100vh;
  border: none;
}
.hero .content {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.hero .content .preloader {
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #262626;
  text-align: center;
}
.hero .content .preloader .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100px;
  width: 100%;
}
.hero .content .preloader .title h3 {
  margin-top: 100px;
  padding: 0 2px;
  font-size: 2em;
  font-weight: 400;
  color: #ddd;
  opacity: 0;
}
.hero .content .preloader .circle {
  height: 150px;
  width: 150px;
  overflow: hidden;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #666;
}
.hero .content .preloader .circle .wave {
  height: 33px;
  width: 500px;
  margin-top: 150px;
  background-repeat: repeat;
}
.hero .content .preloader .circle .wave-background {
  height: 150px;
  width: 150px;
  background-color: #0b95bf;
}
.hero .content .preloader .credits {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #aaa;
  text-decoration: none;
}
.hero .content .center {
  text-align: center;
}
.hero .content .center h3 {
  margin: 0;
  padding: 0.5em 0 2em;
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}
.hero .content .center img.more {
  position: absolute;
  bottom: 30px;
  left: -webkit-calc(50% - 1.25em);
  left: calc(50% - 1.25em);
  height: 3.5em;
  width: 3.5em;
  cursor: pointer;
}
.hero .video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
  overflow: hidden;
  background-color: #000;
}
.hero .no-video .video video,
.hero .touch .video video {
  display: none;
}
.hero .no-video .video .poster,
.hero .touch .video .poster {
  display: block !important;
}
@media screen and (min-width: 668px) and (max-width: 773px) {
  .hero .content .center h3 {
    font-size: 1.65em;
  }
}
@media screen and (min-width: 774px) {
  .hero .content .center h3 {
    margin-top: -0.15em;
    padding-bottom: 5em;
    font-size: 2.5em;
    font-weight: 300;
  }
  .hero .content .center img.more {
    position: absolute;
    bottom: 3.5em;
    height: 3.5em;
    width: 3.5em;
  }
}
.filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 65px;
  width: 100vw;
  max-width: 100%;
  border-bottom: 1px solid #ddd;
}
.filters .platform,
.filters .type,
.filters .industry {
  min-width: 15%;
  max-width: 30%;
  margin: 0 10px;
}
.filters .platform button,
.filters .type button,
.filters .industry button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 8px 12px;
  background-color: #e5e5e5;
  outline: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 1em;
}
.filters .platform button:hover,
.filters .type button:hover,
.filters .industry button:hover {
  background-color: #ddd;
}
.filters .platform button p,
.filters .type button p,
.filters .industry button p {
  margin: 0;
}
.filters .platform button .arrow-down,
.filters .type button .arrow-down,
.filters .industry button .arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #777;
}
.filters .platform ul,
.filters .type ul,
.filters .industry ul {
  display: none;
  position: absolute;
  min-width: -webkit-calc(15% - 2px);
  min-width: calc(15% - 2px);
  max-width: -webkit-calc(30% - 2px);
  max-width: calc(30% - 2px);
  padding: 0;
  margin-top: -2px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 5px #e5e5e5;
          box-shadow: 0 1px 5px #e5e5e5;
  list-style: none;
}
.filters .platform ul:focus,
.filters .type ul:focus,
.filters .industry ul:focus {
  background-color: #f00;
}
.filters .platform ul li,
.filters .type ul li,
.filters .industry ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}
.filters .platform ul li:hover,
.filters .type ul li:hover,
.filters .industry ul li:hover {
  background-color: #f5f5f5;
}
.filters .platform ul li input[type=checkbox],
.filters .type ul li input[type=checkbox],
.filters .industry ul li input[type=checkbox] {
  height: 16px;
  width: 16px;
  margin-right: 12px;
  outline: none;
}
.filters .platform ul li p,
.filters .type ul li p,
.filters .industry ul li p {
  margin: 0;
  font-size: 1em;
}
<<<<<<< HEAD
.portfolio {
=======
canvas.circles {
  width: 100%;
  height: -webkit-calc(100% -65);
  height: calc(100% -65);
}
.company {
  display: none;
}
.watermark {
  opacity: 0.25;
  color: #808080;
  font-weight: 300;
  margin-left: 0.5em;
}
@media screen and (orientation: portrait) and (max-height: 773px) {
  .watermark {
    font-size: 3em;
    margin-top: -90vh;
  }
}
@media screen and (min-height: 774px) {
  .watermark {
    font-size: 5em;
    margin-top: -90vh;
  }
}
@media screen and (orientation: landscape) and (max-width: 773px) {
  .watermark {
    font-size: 3em;
    margin-top: -80vh;
  }
}
@media screen and (min-width: 774px) {
  .watermark {
    font-size: 5em;
    margin-top: -90vh;
  }
}
.profiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  background-color: #bbb;
}
.profiles .card {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}
.profiles .card:hover .card-flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.profiles .card .card-flipper {
  position: relative;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.profiles .card .card-flipper .card-front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.profiles .card .card-flipper .card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.profiles .card .card-flipper .card-front,
.profiles .card .card-flipper .card-back {
>>>>>>> 070d386dbac8b85a7f32b73317714c49ca55b0ad
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
<<<<<<< HEAD
=======
  text-align: center;
  position: absolute;
  -webkit-backface-visibility: hiden;
          backface-visibility: hiden;
>>>>>>> 070d386dbac8b85a7f32b73317714c49ca55b0ad
}
.portfolio .company {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio .company .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}
.portfolio .company .hover {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  opacity: 0;
}
.portfolio .company .content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  padding: 10%;
  color: #fff;
}
.portfolio .company .content .header {
  width: 100%;
  text-align: center;
}
.portfolio .company .content .header h3.title {
  display: none;
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
}
.portfolio .company .content .description {
  display: none;
  width: 100%;
  text-align: center;
}
.portfolio .company .content .description quote {
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  font-style: italic;
}
.portfolio .company .content .description p {
  font-size: 1.1em;
}
.portfolio .company .content .description button {
  margin: 25px 4px 0;
  padding: 7px 24px;
  background: none;
  outline: none;
  border: 2px solid #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  line-height: 1.1em;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.portfolio .company .content .description button:hover {
  background-color: #fff;
  color: #333;
}
.portfolio .company .content .header img.logo {
  -webkit-filter: drop-shadow(0 1px 0 #333);
          filter: drop-shadow(0 1px 0 #333);
}
.portfolio .company:hover .hover {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.portfolio .company:hover .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .company:hover .content .header img.logo {
  display: none;
}
.portfolio .company:hover .content .header h3.title {
  display: block;
}
.portfolio .company:hover .content .description {
  display: block;
}
.portfolio .company.sage:hover .hover {
  background-color: #07b977;
}
.portfolio .company.sage .content .header img.logo {
  width: 200px;
}
.portfolio .company.smartprofyl .hover {
  background-color: #0076a3;
}
.portfolio .company.smartprofyl .content .header img.logo {
  width: 300px;
}
.portfolio .company.pairable .hover {
  background-color: #bdb76b;
}
.portfolio .company.pairable .content .header img.logo {
  width: 225px;
}
.portfolio .company.movietv .hover {
  background-color: #2f4f4f;
}
.portfolio .company.movietv .content .header img.logo {
  width: 200px;
}
.portfolio .company.prodigy .hover {
  background-color: #87ceeb;
}
.portfolio .company.prodigy .content .header img.logo {
  width: 250px;
}
.portfolio .company.atsc .hover {
  background-color: #e62c2c;
}
.portfolio .company.atsc .content .header img.logo {
  width: 300px;
}
@media screen and (orientation: portrait) and (max-width: 767px) {
  .company {
    height: 65vw;
    width: 100vw;
    max-width: 100%;
  }
}
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .company {
    height: 35vw;
    width: 50vw;
    max-width: 50%;
  }
}
@media screen and (orientation: landscape) and (max-width: 1023px) {
  .company {
    height: 35vw;
    width: 50vw;
    max-width: 50%;
  }
}
<<<<<<< HEAD
@media screen and (min-width: 1024px) {
  .company {
    height: 25vw;
    width: -webkit-calc(33vw - 1px);
    width: calc(33vw - 1px);
=======
@media screen and (orientation: landscape) and (min-width: 774px) {
  .profiles {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
>>>>>>> 070d386dbac8b85a7f32b73317714c49ca55b0ad
  }
}
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 75px;
  margin: auto;
}
footer .links {
  color: #777;
  font-size: 1em;
}
footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .social a {
  text-decoration: none;
}
footer .social a:hover .contact-caption {
  display: block;
}
footer .social a .link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
}
footer .social a .link img {
  height: 30px;
  opacity: 1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
footer .social a .link img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
footer .social a .link.gmail img {
  -webkit-filter: drop-shadow(0 0 1px #555);
          filter: drop-shadow(0 0 1px #555);
}
footer .social a .link .contact-caption {
  display: none;
}
@media screen and (max-width: 767px) {
  footer {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    padding: 15px 0;
  }
}
@media screen and (min-width: 768px) {
  footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 98%;
  }
}
