.medium.right.drawer-container
  .dark.spacious.center.drawer
    .fluid.vertical.center.menu
      p.item Item 1
      p.item Item 2
      p.item Item 3
      p.item Item 4
    .fluid.vertical.center.menu
      p.item Item 1
      p.item Item 2
      p.item Item 3
      p.item Item 4