xh1.articles-title
  visibility hidden
  padding-bottom 15px
  font-size 2em
  font-weight 300
  color #e1e1e1

article.post
  visibility hidden
  justify-content center
  position static

  &:hover
    z-index 1

    .post-container
      background-color rgba(255, 255, 255, 1)
      box-shadow 0 18px 14px 0 rgba(0, 0, 0, 0.3), 0 20px 37px 0 rgba(0, 0, 0, 0.34)
      transform scale(1.1)
      transition .3s ease-in-out

      .post-picture-container
        box-shadow 0 0 2px #aaa, 0 0 6px #d5d5d5

  .post-container
    display flex
    width 700px
    padding 25px 15px
    background-color rgba(255, 255, 255, .8)

    .post-picture-container
      display inline
      float left
      height 100px
      width 100px
      margin-right 25px
      padding 5px
      background-color white
      border 1px solid #d5d5d5
      border-radius 3px

      a.post-picture
        display block
        height 100px
        width 100px
        background-size cover
        background-repeat no-repeat

    .post-content
      color #444

      a.post-title
        h1
          margin-bottom 8px
          font-size 1.3em
          font-weight 400

.post-divider
  width 700px
  margin 0px
  padding 0px
  border none
  border-top 1px solid transparent