h1(class="articles-title") articles

|{% for post in site.categories.articles reversed %}
article(class="post")
  .post-container
    .post-picture-container
      a(class="post-picture" href="{{post.url}}.html" style="background-image: url(assets/img/posts/thumbnails/{{post.thumbnail}})")
    .post-content
      a(class="post-title" href="{{post.url}}.html")
        h1(class="{{post.title}}") {{post.title}}
      p.post-description {{post.excerpt}}
hr.post-divider
|{% endfor %}