.button
  box-sizing border-box
  height 100%
  width 100%
  padding 8px
  cursor pointer

.button.ghost:hover
  // &.aquamarine
  //   background aquamarine
  &.burlywood
    background burlywood
  &.cadetblue
    background cadetblue
  &.cornflowerblue
    background cornflowerblue
  &.darkseagreen
    background darkseagreen
  // &.darksalmon
  //   background darksalmon
  // &.hotpink
  //   background hotpink
  &.khaki
    background khaki
  &.lightcoral
    background lightcoral
  &.lightgreen
    background lightgreen
  &.lightsalmon
    background lightsalmon
  &.lightskyblue
    background lightskyblue
  &.lightsteelblue
    background lightsteelblue
  // &.mediumpurple
  //   background mediumpurple
  &.thistle
    background thistle
  // &.violet
  //   background violet
