// ---- Variables ---- //
quora = #A82400
github = #666
linkedin = #0e76a8
upwork = #32cd32


// ---- Themes ---- //
.light
  &.font
    color #eee

.dark
  &.row
    background-color #333
  &.font
    color #333


.red
  background-color red

.blue
  background-color blue

.yellow
  background-color yellow

.green
  background-color green

.white
  &.row,
  &.col
    background-color white
  &.font
    color white


.smartprofyl > .back
  // background-color #005e82
  background-color rgba(0, 94, 130, .75)

.sage > .back
  // background-color #07b977
  background-color rgba(7, 185, 119, .75)

.atsc > .back
  // background-color #e62c2c
  background-color rgba(230, 44, 44, .75)

.prodigy > .back
  // background-color darkslategray / #2F4F4F
  background-color rgba(47, 79, 79, .75)

.movietv > .back
  // background-color darkgoldenrod
  background-color rgba(184, 134, 11, .75)

.pairable > .back
  // background-color #4793c5
  background-color rgba(71, 147, 197, .75)
