//---- Variables ---- //
$drawerSM = 100px
$drawerMD = 150px
$drawerLG = 200px


// *************************** //
// ---- DRAWER CONTROLLER ---- //
// *************************** //
#drawer-controller
  display none

  &:checked + #drawer-container
    visibility visible

  &:not(:checked) + #drawer-container
    visibility hidden
    width 0px
    min-width 0px
    transition .15s

// The drawer controller is an input that governs the width of the drawer container
@media screen and (max-width: 767px)
  #drawer-controller:checked + #drawer-container
    width 90%
    min-width 90%
    transition .15s

@media screen and (min-width: 768px)
  #drawer-controller:checked + #drawer-container
    transition .15s

    &.small
      width $drawerSM
      min-width $drawerSM
    &.medium
      width $drawerMD
      min-width $drawerMD
    &.large
      width $drawerLG
      min-width $drawerLG



// ************************** //
// ---- DRAWER CONTAINER ---- //
// ************************** //
#drawer-container
  position relative
  right 0px



// // **************** //
// // ---- DRAWER ---- //
// // **************** //
#drawer
  display flex
  align-content space-between
  flex-wrap wrap
  position fixed
  height 100%
  width inherit


// ---- Drawer Color ---- //
#drawer.light
  background-color #eee
  box-shadow inset 2px 0 5px #555

  .shadow
    &:hover
      box-shadow inset 5px 0 5px -3px #555

#drawer.dark
  background-color #222
  box-shadow inset 2px 0 5px #151515

  .shadow
    &:hover
      box-shadow inset 5px 0 5px -3px #151515




// ***************** //
// ---- SHELVES ---- //
// ***************** //
.shelf
  display flex
  justify-content center
  flex-wrap wrap
  flex-basis 100%

// ---- Shelf Size ---- //
// #drawer
//   &.three
//     > .shelf
//      height 33%


// ---- Shelf Position ---- //
.shelf:not(.top),
.shelf:not(.bottom)
  align-items center

.shelf.top
  align-items flex-start

.shelf.bottom
  align-items flex-end

.shelf
  padding 8px

  &.tight
    padding 0px