.logo
  font-family Marck
  line-height .8em
  margin-bottom .25em

.subtitle
  font-weight 300

.logo,
.subtitle
  text-align center
  user-select none
  cursor default


// ---- Sizes ---- //
@media screen and (max-width: 767px)
  .logo
    font-size 3.5em

    &.mini
      font-size 2em

  .subtitle
    font-size 1.5em


@media screen and (min-width: 768px)
  .logo
    font-size 7.5em

    &.mini
      font-size 2em

  .subtitle
    font-size 3em


// ---- Themes ---- //
.logo,
.subtitle
  &.light
    color #999


// ---- Colors ---- //
.logo,
.subtitle
  &.white
    color white


// ---- Styles ---- //
.logo,
.subtitle
  &.shadow
    text-shadow 0 1px 2px #555

  &.watermark
    opacity .5