.logo
  font-family Marck

.subtitle
  font-size 3em
  font-weight 300


// ---- Sizes ---- //
.logo
  font-size 7.5em

  &.mini
    font-size 2em


// ---- Themes ---- //
.logo,
.subtitle
  &.light
    color #999


// ---- Colors ---- //
.logo,
.subtitle
  &.white
    color white


// ---- Styles ---- //
.logo,
.subtitle
  &.shadow
    text-shadow 0 1px 2px #555

  &.watermark
    opacity .5