ul
  list-style none

// ---- List Styles ---- //
ul
  li
    display flex
    align-items center

    .bullet
      height 10px
      width 10px
      margin-right 8px
      background-color transparent
      border 2px solid white
      border-radius 100%

      &.current
        background-color white
        border-color transparent