// .parallax
//   position relative
//   height 100vh
//   perspective 1px
//   overflow-x hidden
//   overflow-y auto

.parallax
  .background
    z-index -1
  .midground
    z-index 0
  .foreground
    z-index 1

.parallax video
  position fixed
  top 0
  left 0