// **************** //
// ---- PINNED ---- //
// **************** //
// Pinned objects have a static position within a relative container
.pin
  position absolute


// ----- Positioning ---- //
.pin,
.fix
  &.top
    top 20px
    transform translate(-50%, 0)

  &.center
    top 50%
    left 50%
    transform translate(-50%, -50%)

  &.bottom
    top auto
    bottom 20px
    transform translate(-50%, 0)

  &.top,
  &.center,
  &.bottom
    &.left
      left 20px
      transform translate(0, -50%)

    &.right
      left auto
      right 20px
      transform translate(0, -50%)



// *************** //
// ---- FIXED ---- //
// *************** //
// Fixed objects have a static position on the screen, regardless of where they are in relation to the page
.fix
  position fixed

  // &.right
  //   right 20px


// ---- Positioning ---- //
// .fixed
