#preloader
  z-index 5
  display flex
  align-items center
  align-content center
  justify-content center
  text-align center
  flex-wrap wrap
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  background-color #222

  > .fishbowl
    position relative
    height 150px
    width 150px
    border-radius 100%
    background-color #aaa
    overflow hidden

    > .wave
      position absolute
      top 150px
      bottom 0
      left 0
      height 33px
      width 550px

    > .background
      position absolute
      top 175px
      bottom 0
      width 100%
      height 200px
      background-color #0b95bf

    > .play
      display none
      position absolute
      top 50%
      left 58%
      border-top 35px solid transparent
      border-bottom 35px solid transparent
      border-left 50px solid white
      transform translateX(-50%) translateY(-50%)

  > .text-wave
    display flex
    align-items flex-end
    justify-content center
    height 75px
    width 100%
    color white
    font-size 1.8em

    > .letter
      display inline-block
      margin 0 2px
      opacity 0

    > .enter
      display none
      margin-bottom 25px