.preloader
  z-index 100
  display flex
  top 0
  bottom 0
  left 0
  right 0


// ---- Positioning ---- //
// Centered by default
.preloader
  align-content center
  justify-content center
  position fixed


// ---- Content ---- //
// Wrapped by default
.preloader
  flex-wrap wrap

  .row
    width 100%


// ---- Background Colors ---- //
.preloader
  &.dark
    background-color #262626
    color #eee


// ---- Animations ---- //
// Test Wave
.preloader
  > .text-wave
    display flex
    justify-content center

    > .letter
      margin-top -100px
      padding 0 2px
      font-size 2em
      font-weight 400
      opacity 0

// Rising Wave
.preloader
  .rising-wave
    display none
    height 150px
    width 150px
    overflow hidden
    border-radius 100%
    background darken(#fff, 60%)

    .wave
      height 33px
      width 500px
      margin-top 150px
      background-repeat repeat

    .wave-background
      height 150px
      width 150px
      background-color #0b95bf