.video
  display flex
  height 100vh
  background-color black
  overflow hidden


// ---- Video Size ---- //
.video.fluid > video
  min-height 100vh


// ---- Video Position ---- //
.video.center
  align-items center
  justify-content center