body
  margin 0px
  font-family Roboto
  user-select none

p, h1, h2, h3
  cursor default

button
  cursor pointer

// ---- TEXT ---- //
@media screen and (orientation: portrait) and (min-width: 768px)
  a, p
    font-size 1.2em

@media screen and (orientation: landscape) and (min-width: 1025px)
  a, p
    font-size 1.2em