body
  display flex
  flex-wrap nowrap
  height 100%
  width 100%
  margin 0
  overflow-x hidden
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

ul
  margin 0
  padding 0

a,
button
  cursor pointer

input,
textarea,
button
  outline none