@font-face
  font-family Marck
  font-style normal
  src url(../fonts/Marck.ttf)

*
  vertical-align baseline
  margin 0
  padding 0
  border none
  outline none
  background transparent
  font-size 100%
  user-select none
  cursor default

body
  font-family roboto, sans-serif

div
  box-sizing border-box

ul
  margin 0
  padding 0
  list-style none

a,
button
  cursor pointer

p
  font-size 16px

h1
  font-size 28px
  font-weight 300

h2
  font-size 24px

h3
  font-size 20px

h4
  font-size 16px
  font-weight bold

