// ---- Variables ---- //
quora = #A82400
github = #666
linkedin = #0e76a8
upwork = #32cd32


// ---- Themes ---- //
.light
  &.font
    color #eee

.dark
  &.row
    background-color #333
  &.font
    color #333


.red
  background-color red

.blue
  background-color blue

.yellow
  background-color yellow

.green
  background-color green

.white
  &.row,
  &.col
    background-color white
  &.font
    color white


.smartprofyl > .back
  background-color #005e82

.sage > .back
  background-color #07b977

.atsc > .back
  background-color #e62c2c

.prodigy > .back
  background-color #4793c5

.movietv > .back
  background-color darkgoldenrod

.pairable > .back
  background-color #4793c5