// ---- Variables ---- //
quora = #A82400
github = #666
linkedin = #0e76a8
upwork = #32cd32


// ---- Themes ---- //
.light
  &.font
    color #eee

.dark
  &.font
    color #333


.red
  background-color red

.blue
  background-color blue

.yellow
  background-color yellow

.green
  background-color green

.white
  &.font
    color white