// ---- Connect ---- //
#connect
  display flex
  align-items center
  justify-content center
  padding 20px
  background #151515

// ---- Copyright ---- //
#connect .copyright
  display flex
  width 50%
  font-size 1.2em
  font-weight 400
  color rgba(255,255,255,.85)
  font-variant small-caps
  text-transform lowercase

// ---- Social ---- //
#connect .social
  display flex
  flex-wrap wrap
  width 50%

  .gmail
    display flex
    align-items center
    flex-wrap wrap

    i
      margin 0 10px
      font-size 2em
      color rgba(255,255,255,.85)
      transition .15s

      &:hover
        color rgba(255,255,255,1)

    p
      font-size 1.2em
      color rgba(255,255,255,.85)
      font-variant small-caps

// @media (max-width: 666px)
//   #connect
//     flex-wrap wrap
//     flex-direction column-reverse
//     .copyright,
//     .social
//       justify-content center
//       width 100%
//       margin 10px 0

// @media (min-width: 666px)
//   #connect
//     flex-wrap nowrap
//     .copyright
//       width 50%
//       justify-content flex-start
//     .social
//       width 50%
//       justify-content flex-end
