// ---- Connect ---- //
#connect
  display flex
  align-items center
  justify-content center
  padding 20px 0
  background #151515

  .gmail
    display flex
    align-items center
    flex-wrap wrap

    i
      margin-right 5px
      font-size 2em
      color rgba(255,255,255,.85)
      transition .15s

      &:hover
        color rgba(255,255,255,1)

    p
      font-size 1.2em
      color rgba(255,255,255,.85)
      font-variant small-caps