.contact-placeholder
  position relative
  height 75px
  background black

#contact
  z-index 1
  display flex
  justify-content center
  flex-wrap wrap
  top calc(100% - 75px)
  bottom 0
  height 75px
  width 100%
  border-top 1px solid #333
  background rgba(18,18,18,.95)
  box-shadow 0 -1px 3px 1px rgba(0,0,0,.75)
  overflow hidden
  transition .25s
  &.fixed
    position fixed

@media (max-width: 414px)
  #contact.open
    align-content flex-start

    .buttons
      position absolute
      bottom 0

      button,
      input[name="submit"]
        width 50%
        margin 8px

      input[name="submit"]
        background goldenrod
        color #111

@media (max-width: 736px)
  #contact.open
    top 0
    height 100%
    overflow-y auto

@media (min-width: 737px)
  #contact.open
    top calc(100% - 400px)
    height 400px


// ---- Title Area ---- //
#contact .title
  display flex
  align-items center
  justify-content center
  height 75px
  width 100%
  background rgba(5,5,5,.5)
  cursor pointer

  &:hover
    h3
      color goldenrod

  h3
    position relative
    margin-left -30px
    font-size 2em
    font-weight 300
    color darkgoldenrod

    &:before,
    &:after
      content '^'
      position absolute
      right -25px
      font-size 22px
      font-weight 100
      transform scale(2.5,1)
    &:before
      top 4px
    &:after
      top 14px

    &.flipped
      &:before,
      &:after
        transform scale(2.5,1) rotate(180deg) translateY(8px)


// ---- FORM ---- //
#contact form
  box-sizing border-box
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  margin 25px 0

  // Shared Styles
  textarea,
  input,
  button
    box-sizing border-box
    border-radius 2px
    font-family inherit
    font-size 1.1em

  input,
  button
    height 40px

  // Text Boxes
  textarea,
  input
    margin 0 4px 8px 4px
    border 2px solid #eee
    background white

  textarea
    width calc(100% - 8px)
    padding 8px

  input[name="name"],
  input[name="email"]
    padding 0 8px

  // Buttons
  .buttons
    display flex
    justify-content flex-end
    width 100%

    input,
    button
      height 40px

    button,
    input[name="submit"]
      padding 0 24px
      border 2px solid goldenrod
      border-radius 2px
      background transparent
      font-weight 500
      color goldenrod
      transition .15s

      &:hover
        background goldenrod
        color #151515

        button.exit
          border-color goldenrod

    button.exit
      border-color transparent

@media (max-width: 1023px)
  #contact
    .title h3
      font-size 1.5em

      &:before,
      &:after
        font-size 16px
        font-weight 300
      &:after
        top 12px

  #contact form
    width 90%

    input[name="name"],
    input[name="email"]
      width calc(100% - 8px)

@media (min-width: 1024px)
  #contact form
    input[name="name"],
    input[name="email"]
      width calc(50% - 8px)
