@font-face
  font-family Marck
  font-style normal
  src url(../fonts/Marck.ttf)




body
  font-family roboto, sans-serif

p, h1, h2, h3, h4
  margin 0
  padding 0
  color #242424
  cursor default

a
  color #242424
  text-decoration none

  &:visited
    color #242424


// ---- Color Themes ---- //
.dark
  p, h1, h2, h3, h4
    color #eee

  a
    color #eee

    &:visited
      color #eee


// ---- Sizes ---- //
p
  font-size 16px
  line-height 1.5

  &.large
    font-size 1.2em

  &.larger
    font-size 1.5em

  &.largest
    font-size 2em