main
  position relative
  max-width 100%
  overflow hidden



// ***************** //
// ---- COLUMNS ---- //
// ***************** //

// Columns control a section's width
.column
  display flex
  position relative
  overflow hidden


// ---- Columns ---- //
.column
  width 100%

.column.two
  &:not(.third)
    > .row
      width calc(100vw / 2)

.column.three
  > .row
    width calc(100vw / 3)

.column.four
  > .row
    width calc(100vw / 4)


// ---- Column Size ---- //
.column.fill
  height 100%

.column.fluid
  width 100%

.column.full
  width 100vw

.column.half
  width 50vw

.column.third
  width 33vw

  &.two
    width 67vw

.column.quarter
  width 25vw



// ---- Content Position ---- //
.column.left
  justify-content flex-start

.column.center
  justify-content center

  &.super
    align-items center

.column.right
  justify-content flex-end


// Pins
.sticky
  position fixed

.sticky.left
  left 0

.sticky.right
  right 0


// ---- Content Spacing ---- //
.column.tight
  justify-content center

.column.comfortable
  justify-content space-around

.column.spacious
  justify-content space-between



// ************** //
// ---- ROWS ---- //
// ************** //

// Rows control a section's height
.row
  display flex
  flex-wrap wrap
  flex-direction row
  position relative
  overflow hidden

// ---- Rows ---- //
.row
  &.two,
  &.three,
  &.four
    height 100%

.row.two
  &:not(.third)
    > .container
      height calc(100vh / 2)

.row.three
  > .container
    height calc(100vh / 3)

.row.four
  > .container
    height calc(100vh / 4)


// ---- Row Size ---- //
.row.fill
  width 100%

.row.fluid
  height 100%

.row.full
  height 100vh

.row.half
  height 50vh

.row.third
  height 33vh

  &.two
    height 67vh

.row.quarter
  height 25vh


// ---- Content Position ---- //
.row.top
  align-items flex-start

.row.center
  align-items center

  &.super
    justify-content center

.row.bottom
  align-items flex-end


// ---- Content Spacing ---- //
.row.tight
  align-content center

.row.comfortable
  align-content space-around

.row.spacious
  align-content space-between



// ******************** //
// ---- CONTAINERS ---- //
// ******************** //
.container
  display flex
  position relative

// ---- Container Size ---- //
.container.full
  height 100%
  width 100%

.container.tall
  height 100%

.container.wide
  width 100%

.container.half
  height 50%
  width 50%

.container.third
  height 33%
  width 33%

  &.two
    height 67%
    width 67%

.container.fourth
  height 25%
  width 25%


// ---- Content Position ---- //
.container.center
  &:not(.top),
  &:not(.bottom),
  &:not(.left),
  &:not(.right)
    align-items center
    justify-content center
    text-align center

.container.center
  &.top,
  &.bottom
    justify-content center
    text-align center

.container.top
  align-items flex-start

.container.bottom
  align-items flex-end

.container.center
  &.left,
  &.right
    align-items center

.container.left
  justify-content flex-start
  text-align left

.container.right
  justify-content flex-end
  text-align right



// ---- Content Spacing ---- //
.container.tight
  align-content center

.container.comfortable
  align-content space-around

.container.spacious
  align-content space-between