// ****************** //
// ---- SETTINGS ---- //
// ****************** //
// ---- Namespaces ---- //
$row = 'row'
$col = 'col'


// ---- Gutters ---- //
$gutter = 15px


// ---- Groups ---- //
$whole   = percentage(1 / 1)
$half    = percentage(1 / 2)
$third   = percentage(1 / 3)
$fourth  = percentage(1 / 4)
$fifth   = percentage(1 / 5)
$twelfth = percentage(1 / 12)



// ***************** //
// ---- OPTIONS ---- //
// ***************** //
// Containers are for positioning absolute and fixed items
.container
  position relative

// ---- Positioning ---- //
.back
  z-index -1

// Horizontal
.center
  &.self
    margin-left auto
    margin-right auto

  &.children
    text-align center

// Vertical
.bottom
  vertical-align bottom
.middle
  margin-top auto
  margin-bottom auto


// ---- Spacing ---- //
.tight
  &.row
    margin-top 0
    margin-bottom 0
  &.col
    padding 0

.comfortable
  &.row
    margin-top 1.5*$gutter
    margin-bottom 1.5*$gutter
  &.col
    padding 1.5*$gutter

.spacious
  &.row
    margin-top 2*$gutter
    margin-bottom 2*$gutter
  &.col
    padding 2*$gutter



// ***************** //
// ---- GOLBALS ---- //
// ***************** //
main
  position relative
  max-width 100%
  overflow hidden



// ************** //
// ---- ROWS ---- //
// ************** //
.{$row}
  margin $gutter 0
  list-style none
  overflow hidden


// ---- Sizing ---- //
.row.full
  height 100vh
  margin-top 0px
  margin-bottom 0px

.row.half
  height 50vh

.row.padded
  padding-top $gutter
  padding-bottom $gutter





// ***************** //
// ---- COLUMNS ---- //
// ***************** //
.col
  display inline-block
  box-sizing border-box
  min-height 1px
  padding $gutter
  vertical-align top


// ---- Sizing ---- //
// Full width
.whole
  width $whole

@media screen and (max-width: 770px)
  .half, .third, .fourth, .fifth, .twelfth
    & > div
      &:not(.fixed)
        width $whole !important

// Half width
.half
  width $half

// Third width
.third
  &.one
    width $third
  &.two
    width $third * 2

// Quarter width
.fourth
  &.one
    width $fourth
  &.three
    width $fourth * 3

// Fifth width
.fifth
  &.one
    width $fifth
  &.two
    width $fifth * 2
  &.three
    width $fifth * 3
  &.four
    width $fifth * 4

// Twelfth width
.twelfth
  &.one
    width $twelfth
  &.two
    width $twelfth * 2
  &.five
    width $twelfth * 5
  &.seven
    width $twelfth * 7
  &.ten
    width $twelfth * 10
  &.eleven
    width $twelfth * 11