.nav-trigger
  z-index 99
  position fixed
  top 0
  right 0
  padding 15px 20px 0

.nav-dimmer
  z-index 99
  display none
  position fixed
  top 0
  left 0
  height 100vh
  width 100%
  background rgba(0,0,0,.5)
  opacity 0

.nav
  z-index 100
  position fixed
  top 0
  right -100%
  height 100vh
  padding 15px 20px 0
  border-left 1px solid rgba(255,255,255,.1)
  // background rgba(0,0,0,.5)
  // background rgba(171,37,36,.9)
  background rgba(196,39,37,.9)
  box-shadow -1px 0 3px rgba(0,0,0,.25)


// ---- States ---- //
.nav-trigger, .nav-trigger *
  cursor pointer
.nav
  .open, .open *,
  .close, .close *,
  .item, .item *
    cursor pointer

  .open,
  .close,
  .item
    transition .15s


// ---- Alignment ---- //
.nav-trigger
  display flex
  align-items center
  justify-content flex-end

  .text
    margin-right 8px

.nav
  .open,
  .close,
  .item
    display flex
    align-items center
    justify-content flex-end

  .item
    margin-top 12px

  .text
    margin-right 8px


// ---- Fonts ---- //
.nav-trigger,
.nav
  text-align right
  font-size 1.3em
  color white
  text-shadow 0 1px 2px #888, 0 1px 15px rgba(0,0,0,.2)
