// ---- Mixins ---- //
placeholder()
    &::-webkit-input-placeholder
      {block}
    &:-moz-placeholder
      {block}
    &::-moz-placeholder
      {block}
    &:-ms-input-placeholder
      {block}


// ---- Contact ---- //
#contact
  z-index 1
  display flex
  align-items center
  align-content center
  justify-content center
  flex-wrap wrap
  position relative
  height 100vh
  padding 50px 0px
  background-size cover
  background-position top center

  &:after
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background rgba(255,255,255,.1)


// ---- Fonts ---- //
#contact
  .title
    width 100%
    margin-bottom 25px
    text-align center
  .mask,
  input[name="submit"]
    text-transform uppercase
  h3,
  p,
  input,
  textarea
    color white
    text-shadow 0 1px 3px rgba(0,0,0,.5)
  h3
    font-weight bold
    font-variant small-caps
  p
    font-family inherit
  p,
  input,
  textarea
    font-family inherit
    font-weight 500
  input
    +placeholder()
      font-family inherit
      font-weight 500

@media (orientation: landscape) and (max-height: 413px), (orientation: portrait) and (max-width: 549px)
  #contact
    h3
      font-size 1.8em
    p,
    input,
    textarea
      font-size 16px
    input
      +placeholder()
        font-size 1.1em

@media (orientation: landscape) and (min-height: 414px), (orientation: portrait) and (min-width: 550px)
  #contact
    h3
      font-size 3em
    p,
    input,
    textarea
      font-size 20px
    input
      +placeholder()
        font-size 1.3em


// ---- Form ---- //
#contact form
  z-index 1
  display flex
  align-content center
  justify-content space-between
  flex-wrap wrap
  position relative
  width 90%
  max-width 900px
  .split
    display flex
    width 100%

@media (orientation: landscape) and (max-height: 413px), (orientation: portrait) and (max-width: 549px)
  #contact form .split
    flex-wrap wrap
@media (orientation: landscape) and (min-height: 414px), (orientation: portrait) and (min-width: 550px)
  #contact form .split
    flex-wrap nowrap
    justify-content space-between


// ---- Form Elements ---- //
// Chrome autofill color override
@keyframes autofill {
    to {
      background-color rgba(0,0,0,.25)
      color white
      text-shadow 0 1px 3px rgba(0,0,0,.5)
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#contact form
  .name,
  .email
    position relative
    overflow hidden
    width 100%
    margin 5px

  input
    height 100%
    width 100%
    padding-left 12px
    box-shadow inset 0 1px 7px 2px rgba(0,0,0,.25)
    background-color rgba(0,0,0,.25)
    color white

  input[name="name"],
  input[name="email"]
    position absolute
    top 0%
    height 100%
    width 100%

  input[name="submit"]
    width auto
    margin 5px 5px 5px auto
    padding 0 24px
    border 1px solid rgba(255,255,255,.25)
    background rgba(255,255,255,.2)
    box-shadow none

  .textarea
    position relative
    overflow hidden
    height 150px
    max-height 60vh !important
    width 100%
    margin 5px
    textarea
      box-sizing border-box
      overflow hidden
      position absolute
      top 0%
      height 100%
      width 100%
      padding 12px 0 0 12px
      box-shadow inset 0 1px 7px 2px rgba(0,0,0,.25)
      background rgba(0,0,0,.25)

  .mask
    display flex
    align-items center
    justify-content center
    position absolute
    top 0
    height 100%
    width 100%
    border 1px solid rgba(255,255,255,.25)
    background rgba(255,255,255,.2)
    box-shadow inset 0 1px 7px -2px rgba(255,255,255,.5)

@media (orientation: landscape) and (max-height: 413px), (orientation: portrait) and (max-width: 549px)
  #contact form
    .name,
    .email,
    input[name="submit"]
      height 40px
@media (orientation: landscape) and (min-height: 414px), (orientation: portrait) and (min-width: 550px)
  #contact form
    .name,
    .email,
    input[name="submit"]
      height 50px


// ---- Effects ---- //
#contact form
  .name input,
  .email input,
  textarea
    &.slide
      left calc(-100% - 13px)
      transition .15s ease-in-out
    &.unslide
      left 0%
      transition .25s ease-in-out

  .mask
    &.slide
      left 100%
      transition .15s ease-in-out
    &.unslide
      left 0%
      transition .25s ease-in-out

  .submit
    background rgba(255,255,255,.8)
    color darkslategray
    text-shadow none
    cursor pointer
    transition .15s ease-in-out

@media (orientation: landscape) and (max-height: 413px), (orientation: portrait) and (max-width: 549px)
  #contact form
    .textarea
      .slide
        transition .15s ease-in-out
@media (orientation: landscape) and (min-height: 414px), (orientation: portrait) and (min-width: 550px)
  #contact form
    .textarea
      .slide
        transition .25s ease-in-out