#portfolio
  padding 5px

  .col
    padding 5px

// ---- MOBILE ---- //
@media screen and (max-width: 767px)
  #portfolio .one.third.col
    width 100%

@media screen and (max-width: 767px) and (orientation: portrait)
  #portfolio .one.third.col .card
    height 50vh

@media screen and (max-width: 767px) and (orientation: landscape)
  #portfolio .one.third.col .card
    height 75vh


// ---- TABLET ---- //
@media screen and (min-width: 768px) and (max-width: 1024px)
  #portfolio .one.third.col
    width 50%