// ---- BASE STYLES ---- //
.portfolio
  display flex
  flex-wrap wrap

  .company
    display flex
    align-items center
    justify-content center
    flex-grow 1
    position relative
    background-size cover
    background-position center
    background-repeat no-repeat

    .mask
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      background-color rgba(0,0,0,.5)

    .hover
      position absolute
      top 25%
      bottom 25%
      left 25%
      right 25%
      opacity 0

    .content
      align-items center
      flex-wrap wrap
      position relative
      padding 10%
      color white

      .header
        width 100%
        text-align center

        h3.title
          display none
          margin 0
          margin-bottom 5px
          font-size 1.5em

      .description
        display none
        width 100%
        text-align center

        quote
          width 100%
          font-size 1.1em
          font-weight 300
          font-style italic

        p
          font-size 1.1em

        button
          margin 25px 4px 0
          padding 7px 24px
          background none
          outline none
          border 2px solid white
          border-radius 3px
          line-height 1.1em
          font-size .9em
          font-weight bold
          color white
          text-transform uppercase

          &:hover
            background-color white
            color #333



// ---- COMPANY STYLES ---- //
.portfolio
  .company
    .content
      .header
        img.logo
          filter drop-shadow(0 1px 0 #333)

    &:hover
      .hover
        display block
        top 0
        bottom 0
        left 0
        right 0
        opacity .9
        transition .1s ease-out

      .content
        display flex

        .header
          img.logo
            display none

          h3.title
            display block

        .description
          display block

    &.sage
      &:hover
        .hover
          background-color #07b977

      .content
        .header
          img.logo
            width 200px

    &.smartprofyl
      .hover
        background-color #0076a3

      .content
        .header
          img.logo
            width 300px

    &.pairable
      .hover
        background-color darkkhaki

      .content
        .header
          img.logo
            width 225px

    &.movietv
      .hover
        background-color darkslategray

      .content
        .header
          img.logo
            width 200px

    &.prodigy
      .hover
        background-color skyblue

      .content
        .header
          img.logo
            width 250px

    &.atsc
      .hover
        background-color #e62c2c

      .content
        .header
          img.logo
            width 300px



// ---- MEDIA QUERIES ---- //
@media screen and (orientation: portrait) and (max-width: 767px)
  .company
    height 65vw
    width 100vw
    max-width 100%

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px)
  .company
    height 35vw
    width 50vw
    max-width 50%

@media screen and (orientation: landscape) and (max-width 1023px)
  .company
    height 35vw
    width 50vw
    max-width 50%

@media screen and (min-width: 1024px)
  .company
    height 25vw
    width calc(33vw - 1px)
