
// .company
//   display flex
//   align-items center
//   justify-content center
//   height 30vh
//   width 100%
//   opacity 0

//   img
//     max-height 150px
//     max-width 350px
//     filter drop-shadow(0 1px 3px #333)

//   .mask
//     display none
//     height 100%
//     width 100%

//   .hover
//     display none

// .company:hover
//   img
//     display none

//   .mask
//     display block
//     background-color blue

//   .hover
//     display flex
//     flex-wrap wrap
//     align-items center
//     justify-content center
//     text-align center

//     h3, p
//       width 100%