// ********************* //
// ---- STICKY PINS ---- //
// ********************* //
// Pins can fix an object's position on the page
.pin
  position fixed

// Pins can position things absolutely on the page
.sticky
  position absolute

.pin,
.sticky
  display flex
  top 0
  bottom 0
  left 0
  right 0

// ---- Content Position ---- //
.pin,
.sticky
  &.center
    align-items center
    justify-content center

.pin,
.sticky
  &.top,
  &.bottom
    &.center
      justify-content center

  &.top
    align-items flex-start

  &.bottom
    align-items flex-end

  &.left,
  &.right
    &.center
      align-items center

  &.left
    justify-content flex-start

  &.right
    justify-content flex-end
