#services
  width 100%
  padding 50px 0
  background white


// Description
#services
  .text
    width 85%
    margin 0 auto

  h1
    width 100%
    margin-bottom 15px
    text-align center
    font-size 2em
    font-weight 900
    color #353535
    font-variant small-caps

  p
    width 100%
    margin-bottom 15px
    color #333
    line-height 1.5

  .text p
    font-size 1.2em

  .item p
    font-size 1.1em


// Icon Group
#services .group
    display flex
    justify-content center
    margin 25px auto

    .item
      text-align center
      margin-top 20px
      padding 15px

      h3
        margin 15px 0 5px

@media (max-width: 899px)
  #services .group
    width 75%
    flex-wrap wrap
    .item
      width 100%
      padding 0

@media (min-width: 900px)
  #services .group
    width 85%
    flex-wrap nowrap
    .item
      width 33%