.services
  margin 0 auto
  padding 50px 0

  .intro
    margin-bottom 50px
    text-align center

    > h2.title
      margin 0
      margin-bottom 20px
      font-size 3em

    > p.description
      width 85%
      margin 0 auto
      font-size 1.3em
      font-weight 300
      line-height 1.75em

  .service-section
    display flex
    justify-content center
    flex-wrap wrap
    text-align center

    .service
      width 15vw
      min-width 175px
      margin 10px
      padding 25px
      border 1px solid #aaa
      border-radius 5px

      &:hover
        background-color cadetblue
        transition .25s

        > img.icon
          filter brightness(1)
          transition .25s

        > h3.title
          color white
          transition .25s

        > p.description
          color white
          transition .25s

      > img.icon
        height 75px
        filter brightness(0)

      > h3.title
        display flex
        align-items center
        justify-content center
        height 25px
        font-size 1.1em
        font-weight 900
        text-transform uppercase

      > p.description
        font-size 1em