// ****************** //
// ---- DEFAULTS ---- //
// ****************** //
// ---- Namespaces ---- //
$row = "row"
$col = "col"

// ---- Col Groups ---- //
// $col-groups are the column groups you want
// For example, $col-groups: (3, 4, 5) will output:
// .n-of-3, .n-of-4, [...]
$col-groups = 5, 12

// ---- Gutters ---- //
$gutter = 20px

// ---- Breakpoints ---- //
$deskop = 1600px
$laptop = 1024px
$tablet = 768px
$mobile = 480px

// ---- Pushes and Pulls ---- //
$push = true
$pull = true



$numerator = (1..12)
$denominator = ($col-groups)

.fifth
  &.one
    width 20%
  &.two
    width 40%
  &.three
    width 60%
  &.four
    width 80%
  &.five
    width 100



// *********************** //
// ---- COLUMN SIZING ---- //
// *********************** //
.{$row}
  list-style: none
  margin-left: -1*$gutter

// ---- Columns ---- //
$span-whole
  width: percentage(1 / 1)
$one-half
  width: percentage(1 / 2)
$one-third
  width: percentage(1 / 3)
$two-thirds
  width: percentage(2 / 3)
$one-quarter
  width: percentage(1 / 4)
$two-quarters
  width: percentage(2 / 4)
$three-quarters
  width: percentage(3 / 4)

// ---- Pushes ---- //
$push-span-whole
  margin-left: percentage(1 / 1)
$push-one-half
  margin-left: percentage(1 / 2)
$push-one-third
  margin-left: percentage(1 / 3)
$push-two-thirds
  margin-left: percentage(2 / 3)
$push-one-quarter
  margin-left: percentage(1 / 4)
$push-two-quarters
  margin-left: percentage(2 / 4)
$push-three-quarters
  margin-left: percentage(3 / 4)

// ---- Pulls ---- //
$pull-span-whole
  margin-left: -1*percentage(1 / 1)
$pull-one-half
  margin-left: -1*percentage(1 / 2)
$pull-one-third
  margin-left: -1*percentage(1 / 3)
$pull-two-thirds
  margin-left: -1*percentage(2 / 3)
$pull-one-quarter
  margin-left: -1*percentage(1 / 4)
$pull-two-quarters
  margin-left: -1*percentage(2 / 4)
$pull-three-quarters
  margin-left: -1*percentage(3 / 4)



// ***************** //
// ---- Columns ---- //
// ***************** //
// For each of our column groups...
for $group in length($col-groups)
  // For each column width from 1 to the column group...
  for $i in (1..$group)
    .{$i}.{$group}
      if percentage($i / $group) == percentage(1 / 1)
        @extend $span-whole
      else if percentage($i / $group) == percentage(1 / 2)
        @extend $one-half
      else if percentage($i / $group) == percentage(1 / 3)
        @extend $one-third
      else if percentage($i / $group) == percentage(2 / 3)
        @extend $two-thirds
      else if percentage($i / $group) == percentage(1 / 4)
        @extend $one-quarter
      else if percentage($i / $group) == percentage(2 / 4)
        @extend $two-quarters
      else if percentage($i / $group) == percentage(3 / 4)
        @extend $three-quarters
      else
        width: percentage($i / $group)

    // if $push
    //   .push-{$i}-of-{$group}
    //     if percentage($i / $group) == percentage(1 / 1)
    //       @extend $push-span-whole
    //     else if percentage($i / $group) == percentage(1 / 2)
    //       @extend $push-one-half
    //     else if percentage($i / $group) == percentage(1 / 3)
    //       @extend $push-one-third
    //     else if percentage($i / $group) == percentage(2 / 3)
    //       @extend $push-two-thirds
    //     else if percentage($i / $group) == percentage(1 / 4)
    //       @extend $push-one-quarter
    //     else if percentage($i / $group) == percentage(2 / 4)
    //       @extend $push-two-quarters
    //     else if percentage($i / $group) == percentage(3 / 4)
    //       @extend $push-three-quarters
    //     else
    //       margin-left: percentage($i / $group)

    // if $pull
    //   .pull-{$i}-of-{$group}
    //     if percentage($i / $group) == percentage(1 / 1)
    //       @extend $pull-span-whole
    //     else if percentage($i / $group) == percentage(1 / 2)
    //       @extend $pull-one-half
    //     else if percentage($i / $group) == percentage(1 / 3)
    //       @extend $pull-one-third
    //     else if percentage($i / $group) == percentage(2 / 3)
    //       @extend $pull-two-thirds
    //     else if percentage($i / $group) == percentage(1 / 4)
    //       @extend $pull-one-quarter
    //     else if percentage($i / $group) == percentage(2 / 4)
    //       @extend $pull-two-quarters
    //     else if percentage($i / $group) == percentage(3 / 4)
    //       @extend $pull-three-quarters
    //     else
    //       margin-left: -1*percentage($i / $group)



// ****************** //
// ---- CHILDREN  ---- //
// ****************** //
// All direct descendents of .grid get treated the same way.
// This might be overkill for some, but it's a time-saver for me.
.{$col}
  box-sizing: border-box
  display: inline-block
  margin-right: -.25em
  min-height: 1px
  padding-left: $gutter
  vertical-align: top

  @media (max-width: $lap)
    display: block
    margin-left: 0
    margin-right: 0
    width: auto

  @media (max-width: $lap) and (min-width: $palm)
    &[class*="m-"]
      display: inline-block
      margin-right: -.24em
    &.m-1-of-2
      width: percentage(1 / 2)
    &.m-1-of-3
      width: percentage(1 / 3)
    &.m-2-of-3
      width: percentage(2 / 3)
    &.m-1-of-4
      width: percentage(1 / 4)
    &.m-2-of-4
      width: percentage(2 / 4)
    &.m-3-of-4
      width: percentage(3 / 4)

  @media (max-width: $palm)
    &[class*="s-"]
      display: inline-block
      margin-right: -.24em
    &.s-1-of-2
      width: percentage(1 / 2)
    &.s-1-of-3
      width: percentage(1 / 3)
    &.s-2-of-3
      width: percentage(2 / 3)
    &.s-1-of-4
      width: percentage(1 / 4)
    &.s-2-of-4
      width: percentage(2 / 4)
    &.s-3-of-4
      width: percentage(3 / 4)



// ****************** //
// ---- CONTROLS ---- //
// ****************** //
// ---- Positioning ---- //
.center
  display: block
  margin-left: auto
  margin-right: auto

// ---- Column Order ---- //
.first
  float: left
.last
  float: right

// ---- Remove Gutters ---- //
.{$row}.no-gutter
  margin-left: 0
  width: 100%
  .{$col}
    padding-left: 0
  .full
    margin-left: 0
    width: 100%

// ---- Vertical Alignment ---- //
.bot
  vertical-align: bottom
.mid
  vertical-align: middle