.portfolio
  display flex
  flex-direction column
  max-width 100vw
  // padding 15px 0 0
  background-color #1c1c1c

  &.portfolio-page
    padding-top 50px

  .portfolio-title
    display none
    align-self center
    margin 5px 0 15px
    font-size 2em
    font-weight 300
    color #e5e5e5

  .portfolio-slider
    display flex
    flex-wrap wrap